/*
*
*Body
*
*/
.bigdiv{
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
}
#passport{
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
.meet{
  float: right;
  width: 68%;
  font-size: 20px;
}
.social-media{
  width: 3%;
  height: auto;
}
.social4{
  color: #29498a;
  text-decoration: none;
}

.social{
  color: #55adee;
  text-decoration: none;
}
.social1{
  color: #a33eb4;
  text-decoration: none;

}
.social2{
  color: #f5c771;
  text-decoration: none;
}
#touch{
  text-decoration: none;
  color: #64b308;
}
#touch:hover{
  color: #ff4500;
}



@media screen and (max-width: 600px){
  .meet{
    font-size: 12px;
  }
  #passport{
    width: 50%;
  }
}