/*
*
*Main
*
*/
html{
  background-color:#d0d0c7;
  color: #d0d0c7;
}
.contact{
  background-color: #93b5be;
  padding: 30px;
  border: solid 1px #93b5be;
  margin: 0px;
  margin-top: 5px;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  color: #f0efed
}
.contact::first-letter{
  font-size: 60px;
}
span{
  color: red;
}
.form{
  background-color: #fdfef9;
  color: #565959;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 5px;
  padding: 20px;
  font-family: 'Titillium Web', sans-serif;
}
.get-in-touch{
  margin: 0px;
  padding: 50px 20px;
  text-align: center;
  font-size: 30px;

}
form{
  padding: 3px;
}
#horizon{
  margin: 3px 30px;
}
form h4{
  margin-bottom: 30px;
  display: inline-block;
  padding-right: 19px;
}
#line2{
  display: inline-block;
  width: 40%;
  float: right;
}
#line1{
  float: left;
  display: inline-block;
  width: 40%
}
#message{
  display: inline-block;
  padding: 0px 4%;
  text-align: center;
  margin: 0px;
  width: 10%
}
section{
  width: 100%
}
textarea{
  display: block;
  width: 100%;
  height: 500px;
  background-color: #fdfef9;
  margin-top: 5px;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  outline-color: #d3d3cf;
}
hr{
  background-color: #c7c8c3;
}
input{
  display: inline-block;
  border: none;
  width: 60%;
  outline: none;
  border-bottom: dotted 3px #c7c8c3;
  font-size: 20px;
}
button{
  font-size: 20px;
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #565959;
  color: #fdfef9;
  margin-top: 10px;
  outline: none;
}



@media screen and (max-width: 600px){
  main{
    font-size: 12px;
  }
  .get-in-touch{
    font-size: 20px;
  }
  .contact{
    font-size: 30px;
  }
  .contact::first-letter{
    font-size: 40px;
  }
  input{
    font-size: 10px;
  }
  textarea{
    height: 300px;
  }
  button{
    font-size: 13px;
  }
}