nav{
  box-shadow: 5px 3px 3px 3px #dfd9cd;
  background-color: white;
  font-family: sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
nav img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: darkgoldenrod dashed 3px;
  border-left-style: double;
  border-right-style: double;
  margin-left: 10px;
  display: inline-block;
}
.navbar{
  float: right;
  padding-right: 10px;
  margin-bottom: 10px;
}
.navbar .link{
  margin-right: auto;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 7px;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  color: #060807;
}
.navbar .link:hover{
  background-color: #dbb79c;
  color: #f9f9f9;
  padding: 7px;
  border: 1px solid #dbb79c;
  border-radius: 10px;

}
body{
  margin: 0px;
  padding: 0px;
}




@media screen and (max-width: 600px){
  .navbar .link{
    font-size: 15px;
  }
}