.header h1{
    font-size: 170%;
}
.header span{
    padding-left: 4.5px;
    padding-right: 4.5px
}
.header h3{
    font-size: 85%;
}
.navlist li{
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 110%;
}
.container_story{
    margin-top: -57%;
}
.container_story h1{
    font-family: serif;
    font-size: 350%
}
.container_story p{
    font-family: 'Trebuchet MS';
    font-size: 230%
}
.know a{
    padding: 10px 15px 10px 15px;
    font-size:120%;
    margin-left: -180px;
}
.help{
    margin-top: -21px
}
.help a{
    background-color:rgba(128, 128, 128, 0.664);
    padding: 10px 15px 10px 15px;
    font-size:120%;
    margin-left: 180px;
}
#row1{
    display: flex;
    flex-wrap:wrap;
    text-align: center
}
.img{
    margin-left:0%;
    width:100%
}
.story{
    width:100%;
    margin-left:-30px;
    margin-top:50px
}
.story h5{
    font-size: 200%;
}
.story h2{
    margin-top:-15px;
    font-size:34px;
}
.story p{
    margin-left:65px;
    font-size:19px;
}
.story a{
    padding: 0px 30px;
    font-size: 17px;
    margin-top:45px
}
#about{
    margin-top:150px;
}
.me{
    padding-top:40px;
    margin-left:0%
}
.me h1{
    font-size: 35px;
}
.me p{
    font-size:20px;
    line-height: 2em
}
.myself, des{
    display: flex;
    flex-wrap: wrap;
    margin-left:0%;
    margin-top:100px
}
.who{
    text-align:center;
    width:70%;
    margin-left:15%
}
.who h3, goals h3{
    font-size:37px;
    text-align: center;
    padding-top: 0px;
    padding-left:0px
}
.who p, .goals p{
    font-size: 25px;
    text-align:center;
    line-height: 2em
}
.background, .status{
    width:70%;
    text-align:center;
    margin-top:210px;
    margin-left:15%
}
.background h3{
    font-size:37px;
    text-align: center;
    padding-top: 0px;
    padding-left:0px
}
.background p{
    font-size: 25px;
    text-align:center;
    line-height: 2em
}
.goals{
    margin-top: 200px;
    text-align:center;
    width:70%;
    margin-left:15%
}
.goals h3{
    font-size:37px;
    text-align: center;
    padding-top: 30px;
    padding-left:0px
}
.skill{
    margin-left:9%;
    font-size:14px
}
.skill li:nth-child(1){
    padding: 6px 3px 6px 3px;
}
.skill li:nth-child(2){
    padding: 6px 2px 6px 2px;
    margin-left: 40px;
    margin-top:-28.5px
}
.skill li:nth-child(3){
    padding: 6px 6px 6px 6px;
    margin-left:120px;
    margin-top:-28.5px
}
.skill li:nth-child(4){
    padding: 6px 10px 6px 10px;
    margin-left: 245px;
    margin-top:-28.5px
}
.skill li:nth-child(5){
    padding: 6px 3px 6px 3px;
    margin-left:360px;
    margin-top:-26.5px
}

.request h3{
    margin-top:120px;
    font-size:40px
}
.request input{
    width:130px;
    padding: 10px 20px 10px 6px;
    font-size: 15px;
}
.table{
    margin-top:100px;
    width:90%;
    margin-left:5%
}
table{
    border-collapse:collapse;
}
th{
    font-size:18px;
    width:20%;
    text-align: center
}
td {
    font-size:16px;
    text-align: center
}
.info{
    margin-left:20%;
    margin-top:650px
}
.locate{
    margin-top:-560px
}
.locate img{
    width:30px
}
.locate h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-37px
}
.locate p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}
.phone img{
    width:30px;
    margin-top:70px
}
.phone h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-50px
}
.phone p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}
.gmail img{
    width:30px;
    margin-top:70px
}
.gmail h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-50px
}
.gmail p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}