body{
    margin: 0;
    padding: 0;
}
.header{
    max-width: 100%;
    position: relative
}
.header h1{
    margin-top: 4;
    margin-left: 5%;
    font-size: 200%;
    font-family: 'Segoe UI';
    color: rgba(128, 128, 128, 0.945);

}
.header span{
    background-color: rgb(20, 20, 122);
    padding-left: 7px;
    padding-right: 7px
}
.header h3{
    margin-left: 5%;
    margin-top: -1vw;
    font-size: 100%;
    font-family:Helvetica;
    color: rgba(128, 128, 128, 0.945);
}
.navlist{
    display: inline-block;
    float: right;
    list-style-type:none;
    
}
.navlist li{
    display:inline-block;
    padding-left: 3em;
    padding-right: 3em;
    color:rgb(20, 20, 122);
    font-family:  Courier;
    font-size: 120%;
}
.navlist li:hover{
    color:#FF0044;
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
.navbar{
    background-color: white;
    max-width: 100%;
    margin-top: -3.5vw;
    font-size: 110%;
}
.navlist li::after {
    content: "";
    display: inline-block;
    margin-bottom: 1px;
    height: 3px;
    background-color:rgba(128, 128, 128, 0.945);
    width: 100%;
    transition-duration: 0.5s
}
.container img{
    margin-top: 0%;
    width:100%;

}
.container_story{
    text-align: center;
    margin-top: -50%;
    color:white
}
.container_story h1{
    font-family: serif;
    font-size: 400%
}
.container_story p{
    font-family: 'Trebuchet MS';
    font-size: 300%
}
.btn{
    margin-top: 10%
}
.btn a{
    text-decoration:  none;
}
.know a{
    background-color: #FF0044;
    padding: 10px 30px 10px 30px;
    font-size:130%;
    margin-left: -220px;
    color:white;
    border-radius: 5px
}
.know a:hover{
    background-color:white;
    color:#222222;
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
.help{
    margin-top: -24px
}
.help a{
    background-color:rgba(128, 128, 128, 0.664);
    padding: 10px 30px 10px 30px;
    font-size:130%;
    margin-left: 220px;
    color: white;
    border-radius:5px
}
.help a:hover{
    background-color:#E9E9FF;
    color:#FF0044;
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
#row1{
    margin-top:30%;
    max-width:100%
}
.img{
    margin-left: 8%;
    width:50%
}
.img img{
    width:430px;
    height:430px;
    border-radius: 50%
}
.story{
    margin-top:-420px;
    margin-left:54%;  
}
.story h5{
    font-family: 'Open Sans' ;
    font-size: 180%;
}
.story h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    margin-top:-15px;
    font-size:30px;
    color:#444444
}
.story p{
    font-family:sans-serif;
    font-size:16px;
    color:rgba(128, 128, 128, 0.945);
}
.story a{
    padding: 0px 42px;
    line-height: 50px;
    background-image: linear-gradient(to right, #ff8490 0%, #fc62bd 48%, #ff8940 100%);
    background-size: 200% auto;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: all 300ms linear 0s;
    text-decoration: none
}
#about{
    background-color: #F9F9FF;
    margin-top:250px;
    max-width:100%;
    max-height: 100%
}
.me{
    text-align:center;
    margin-left:10%;
    padding-top:50px
}
.me h1{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: #222222
}
.me p{
    font-family: Tahoma;
    font-size:25px
}
.myself{
    margin-left: 10%;
    margin-top:100px
}
.who{
    background: #fff;
    width:40%;
    border-radius:8px
}
.who h3{
    font-family: sans-serif;
    color:#222222;
    font-size:35px;
    padding-top: 30px;
    padding-left:30px;
    font-weight: bold
}
.who p{
    color:rgba(128, 128, 128, 0.945);
    font-size: 23px;
    padding-left: 10px;
    line-height: 1.4em
}
.background{
    background: #fff;
    width:38%;
    border-radius:8px;
    margin-top:-21em;
    margin-left:55%
}
.background h3{
    font-family: sans-serif;
    color:#222222;
    font-size:35px;
    padding-top: 30px;
    padding-left:30px;
    font-weight: bold
}
.background p{
    color:rgba(128, 128, 128, 0.945);
    font-size: 23px;
    padding-left: 10px;
    line-height: 1.4em
}
.des{
    margin-top:100px
}
.goals{
    background: #fff;
    width:36%;
    border-radius:8px;
    margin-left:10%;
    height:100%
}
.goals h3{
    font-family: sans-serif;
    color:#222222;
    font-size:35px;
    padding-top: 30px;
    padding-left:30px;
    font-weight: bold
}
.goals p{
    color:rgba(128, 128, 128, 0.945);
    font-size: 23px;
    padding-left: 10px;
    line-height: 1.2em
}
.skill{
    text-align: center;
    list-style-type:none;
    font-family: sans-serif;
    color:white;
    font-size:12px
}
.skill li:nth-child(1){
    background: #0399FF;
    padding: 6px 1px 6px 1px;
    width:45px;
    border-radius: 6px;
    margin-left:-40px;
    margin-top:52px
}
.skill li:nth-child(2){
    background: #FF9904;
    padding: 6px 1px 6px 1px;
    width: 45px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top:-25px
}
.skill li:nth-child(3){
    background: #0399FF;
    padding: 6px 2px 6px 2px;
    width:80px;
    border-radius: 6px;
    margin-left:90px;
    margin-top:-25px
}
.skill li:nth-child(4){
    background: #FF9904;
    padding: 6px 1px 6px 1px;
    width: 55px;
    border-radius: 6px;
    margin-left: 200px;
    margin-top:-25px
}
.skill li:nth-child(5){
    background: #0399FF;
    padding: 6px 1px 6px 1px;
    width:35px;
    border-radius: 6px;
    margin-left:275px;
    margin-top:-25px
}
.status{
    background: #fff;
    width:35%;
    border-radius:8px;
    margin-top:-27em;
    margin-left:60%
}
.status h3{
    font-family: sans-serif;
    color:#222222;
    font-size:35px;
    padding-top: 30px;
    padding-left:30px;
    font-weight: bold
}
.status p{
    color:rgba(128, 128, 128, 0.945);
    font-size: 23px;
    padding-left: 10px;
    line-height: 2em
}
.status h2{
    font-family: sans-serif;
    color: #0399FF;
    font-size:40px;
    padding-left: 25px;
    line-height: 2em
}
.mail {
    color:#FF0044
}
.request{
    margin-left:10%;
}
.request h3{
    font-family: cursive;
    margin-top:100px;
    font-size:45px
}
.request input{
    border: 1px solid rgba(128, 128, 128, 0.945);
    width:150px;
    border-radius:7px;
    padding: 10px 25px 10px 10px;
    font-size: 17px;
    margin-left:70%;
    margin-top:-85px;
    display: block
}
.table{
    margin-top:100px;
    width:90%;
    margin-left:5%
}
table{
    border-collapse:collapse;
}
th{
    font-size:25px;
    width:20%;
    padding:25px 0px 25px 0px;
    text-align: left;
   
}
td {
    width:20%;
    text-align: left;
    padding:35px 0px 35px 0px;
    font-size:20px
}
tr{
    color:#444444;
    background: white
}
tr:nth-of-type(odd){
    background-color:#F6F6FF
}
#contact{
    margin-left:10%;
    margin-top:100px
}
#contact h1{
    font-weight: bold;
    font-family: 'Trebuchet MS';    
    font-size:40px
}
#contact input, .call3 textarea{
    font-family: open sans;
    font-size:20px;
    color: #000;
    margin: 30px 10px 40px 3px;
    border: none;
    background: #F6F6FF;
    font-weight: bold;
    border-radius: 5px;
    padding:20px 0px 20px 0px
}
.call3 textarea{
    padding-right:290px;
    padding-bottom:135px
}
.send a{
    padding: 0px 20px;
    line-height: 50px;
    background-image: linear-gradient(to right, #ff8490 0%, #fc62bd 48%, #ff8940 100%);
    background-size: 200% auto;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: all 300ms linear 0s;
    text-decoration: none
}
.info{
    margin-left:60%
}
.locate{
    margin-top:-560px
}
.locate img{
    width:30px
}
.locate h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-37px
}
.locate p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}
.phone img{
    width:30px;
    margin-top:70px
}
.phone h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-50px
}
.phone p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}
.gmail img{
    width:30px;
    margin-top:70px
}
.gmail h6{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color:#222222;
    margin-left:12%;
    margin-top:-50px
}
.gmail p{
    font-size:18px;
    color:#777777;
    margin-left:12%
}
footer {
    font-size:20px;
    color:white;
    background:#000410;
    height: 100%;
    margin-top: 20%;
    padding: 50px 0 50px;
    text-align: center;
}
