*{
  margin: 0;
  background-color:#333333;
}
nav{
  background-color:;
  font-family: 'Dancing Script', cursive;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding:15px;
  background-color: #333333;
  text-align: right;
}
nav li{
  display: inline-block;
  padding-left:23px;
  padding-right: 50px;
  margin-left: 15px;
}
nav li :hover{
  color:brown;
}
nav li a{
  color: orange;
  text-decoration: none;
}
ol{
  display: inline-block;
}
.form{
  margin-left:auto;
  margin-right: auto;
  width:25em;
  margin-top:5em;
  color:orange;
  font-family: 'Dancing Script', cursive;
}
p{
  font-size: 3em;
}
h3{
  margin-top: 0.5em;
}
input{
  width:25em;
  height: 2em;
}
input:hover{
  background-color: brown;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 1em;
  width: 100%;
  background-color: black;
  color: orange;
  text-align: center;
}
ul ol a{
  color: orange;
  text-decoration: none;
}
ul ol a:hover{
  color:brown;
}
