/*
Author: Okeowo Busola

*/
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-style: "Segeo UI", "Helvetica Nue", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	text-align: left;
	background-color: #fff;
}

.wrapper {
	display: block;
	position: relative;
}

.content {
	padding: 2.5rem;
}

.form-group {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.table {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  background-color: transparent;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

th, td{
    border-bottom: 2px solid #ddd;
    padding: 10px;
    margin: 3px;
}
td { vertical-align: bottom;}

button {
	padding: 1rem;
	border: 1px solid #333;
	background: #fff;
	color: #333;
	margin: 1rem 0;
	font-size: 16px;
	border-radius: 0.5rem;
}

