.mylivechat_inline * {
	box-sizing:border-box;
}

.mylivechat_prechat_box, .mylivechat_offline_box, .mylivechat_survey_box {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	display: block;
	box-sizing: border-box;
	padding: 6px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline: 0;
}


.mylivechat_main {
	background-color:white;
}

.mylivechat_prechat_box:focus, .mylivechat_offline_box:focus, .mylivechat_survey_box:focus {
    border-color: #66afe9!important; 
    outline: 0!important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)!important; 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)!important; 
}

.mylivechat_prechat_box::-moz-placeholder, .mylivechat_offline_box::-moz-placeholder, .mylivechat_survey_box::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.mylivechat_prechat_box:-ms-input-placeholder, .mylivechat_offline_box:-ms-input-placeholder, .mylivechat_survey_box:-ms-input-placeholder {
    color: #999;
}

.mylivechat_prechat_box::-webkit-input-placeholder, .mylivechat_offline_box::-webkit-input-placeholder, .mylivechat_survey_box::-webkit-input-placeholder {
    color: #999;
}



.mylivechat_prechat_submit_button, .mylivechat_offline_submit_button, .mylivechat_prechat_survey_button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-shadow: none !important;
}

.mylivechat_prechat_submit_button {
    min-width: 120px;
}

.mylivechat_offline_submit_button {
    min-width: 120px;
}

.mylivechat_prechat_survey_button {
    min-width: 80px;
}

.mylivechat_prechat_submit_button.focus, .mylivechat_prechat_submit_button:focus, .mylivechat_offline_submit_button.focus, .mylivechat_offline_submit_button:focus, .mylivechat_prechat_survey_button.focus, .mylivechat_survey_submit_button:focus {
   -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.5);
    box-shadow: 0 0 0 2px rgba(2,117,216,.5)
}

.mylivechat_prechat_submit_button:hover, .mylivechat_offline_submit_button:hover, .mylivechat_prechat_survey_button:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b
}

.mylivechat_errorpanel {
    border: 1px solid;
     margin: 5px 15px 5px 10px; 
     padding:5px 10px 5px 40px; 
     background-repeat: no-repeat; 
     background-position: 10px center; 
     /* setting fonts */
     font-family:Arial, Helvetica, sans-serif;
     font-size:13px;
     color: #9F6000;
     background-color: #FEEFB3; 
     background-image: url('images/warning.png');
     background-position: 10px 7px;
}
.mylivechat_prechat_logo_img,.mylivechat_offline_logo_img { max-width: 100%;height: auto;}

.mylivechat_template14 .mylivechat_offline_submit_button {
    resize: none;
    font-size: 14px;
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #0275d8;
    min-width: 80px;
}


